<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title class="content">
        <span>Meteo app is running!</span>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-slides *ngIf="datas">
      <ion-slide *ngFor="let data of datas.daily; let i = index">

        <ion-grid class="ion-text-center">
          <ion-row>
            <ion-col>
              <ion-text color="light"><p>{{data.dt * 1000 | date: 'dd/MM/yyyy'}}</p></ion-text> <!-- HH:mm -->
              <ion-img [ngStyle]="{'height': '230px'}"  src="https://openweathermap.org/img/wn/{{data?.weather[0]?.icon}}@2x.png"></ion-img>
              <ion-text color="light">
                <h1>{{(i === 0) ? datas.current.temp: data?.temp?.day}}</h1>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text color="light">
                <h2>{{data?.name}}</h2>
                <p>
                  max: {{data?.temp.max}} <br/>
                  min: {{data?.temp.min}} <br/>
                  pres: {{data?.pressure}} <br/>
                  hum: {{data?.humidity}} <br/>
                </p>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>
  </ion-content>
</ion-app>