<ion-app>
  <ion-content>

    <ion-grid *ngIf="datas" class="ion-text-center">
      <ion-row>
        <ion-col>
          <ion-text color="light"><p>{{date}}</p></ion-text>
          <ion-img [ngStyle]="{'height': '230px'}"  src="https://openweathermap.org/img/wn/{{datas?.weather[0]?.icon}}@2x.png"></ion-img>
          <ion-text color="light">
            <h1>{{datas?.temp}}</h1>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text color="light">
            <h2>{{datas?.name}}</h2>
            <p>
              max: {{datas?.temp_max}} <br/>
              min: {{datas?.temp_min}} <br/>
              pres: {{datas?.pressure}} <br/>
              hum: {{datas?.humidity}} <br/>
            </p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>